.textImageContainer{
    display: flex;
    flex-direction: row;
}

.textContainer{
    margin-left: 50px;
    border: 5px solid #152033;
    border-radius: 10px;
    width: 50%;
}

.mainWeaponImageContainer{
    width: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fireRate , .magazineSize, .reloadTime{
    padding-left: 30px;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.7rem;
    display: flex;
    justify-content: space-between;
    background-color: #ECE8E1;
}
.fireRate span , .magazineSize span, .reloadTime span{
    margin-right: 20px;
}

.reloadTime{
    margin-bottom: 0px;
}


.sliderContainer{
    margin-top: 97px;
}

.skinCard {
    min-width: 120px; /* Width of each card */
    height: 200px; /* Height of each card */
    background-color: #152033;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Pointer cursor on hover */
    transition: transform 0.2s; /* Smooth scaling effect */
}

.skinCard:hover {
    transform: scale(1.05); /* Slightly scale up on hover */
}

.skinImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Scale images to fit within the card */
}
 
.skinCard p {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
} 
