@font-face {
  font-family: 'Tungsten';
  src: url('../../assets/TungstenFont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.mainContent{
  position: relative;
  background-color: #ECE8FF;
  background-image: url('../../assets/Split.png');
  background-repeat: no-repeat;
  height: 89vh;
  display: flex;
}

.mainContent::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 229, 255, 0.637); 
  z-index: 1;
}

.textContentContainer{
  width: 50%;
  z-index: 2;
}

.videoContentContainer{
  width: 50%;
  z-index: 2;
}

.textContent{
  margin-left: 80px;
  margin-top: 50px;
}

.appTag{
  font-size: 120px;
  font-family: 'Tungsten',sans-serif;
}

.videoContent {
  margin: 50px;
  margin-top: 100px;
}

.video {
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}

.agentsSection{
  background-color: #FF4656;
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('../../assets/Polygon 4.png');
  background-repeat: no-repeat;
  background-size:70%;
  background-position: center left;
}

.agentImageContainer {
  position: relative; /* Establishes a positioning context */
  width: 50%; /* Adjust as needed */
  height: 100vh; /* Ensures the container takes the full height of the viewport */
  overflow: hidden; /* Optional: hides overflow if needed */
}

.character1 {
  position: absolute; /* Allows for precise control over positioning */
  margin-top: 78px;
  height: 90vh;
  z-index: 1; /* Places this image behind character2 */
  left: 5%; /* Adjust to control horizontal positioning */
}

.character2 {
  position: absolute; /* Allows for precise control over positioning */
  height: 100vh;
  z-index: 2; /* Places this image on top of character1 */
  left: 40%; /* Adjust to control horizontal positioning */
  top: 0; /* Aligns with the top of the container */
}


.textContainer{
  width: 60%;
  color: #ffffff;
}

.textContainer h2{
  font-size: 120px;
  font-family: 'Tungsten',sans-serif;
}

.textContainer p {
  font-size: 1.8rem;
}

.viewAgentsBtn{
  margin-top: 40px;
  font-family: 'Tungsten',sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 60px;
  text-transform: uppercase;
} 

.viewAgentsBtn:hover{
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
} 

.outerContainer{
  position: relative;
  background-color: #ECE8FF;
  background-image: url('../../assets/Split.png');
  background-repeat: no-repeat;
  height: 89vh;
  display: flex;
}

.outerContainer::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 229, 255, 0.637); 
  z-index: 1;
}

.textContainer{
  font-family: 'Source Serif 4',sans-serif;
  margin-left: 80px;
  margin-top: 50px;
  z-index:2;
  width: 45%;
}

.viewWeaponsBtn{
  margin-top: 40px;
  font-family: 'Tungsten',sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #000000;
  padding: 10px 60px;
}

.viewWeaponsBtn:hover{
  color: #000000;
  cursor: pointer;
  background-color: #ff0000;
} 

.weaponsContainer{
  z-index: 2;
  width: 55%;
} 

.imageContainer{
  position: relative; 
  margin-top: 50px;
  margin-right: 30px;
  border: 2px solid red;
  border-radius: 30px 30px 0px 0px;
} 

.statsHalf{
  position: relative;
  background-color: #152033;
  background-image: url('../../assets/Bind.png');
  background-repeat: no-repeat;
} 

.statsHalf::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 229, 255, 0.392);
  z-index: 1;
}