.header {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  width: 100%;
  gap: 20px;
  color: #fff;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4px 20px; /* Adjusted padding for smaller header */
  height: 80px; /* Reduced header height */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    white-space: initial;
    padding: 0 20px;
  }
}

.logo {
  aspect-ratio: 1.55;
  object-fit: contain;
  object-position: center;
  width: 100px; 
  max-width: 100%;
}

.navLinks {
  display: flex;
  gap: 40px 44px;
  margin: auto 0;
} 

a:visited{
  color: #ffffff;
}

@media (max-width: 991px) {
  .navLinks {
    white-space: initial;
  }
}

.navLink {
  text-decoration: none;
  text-align: center;
  align-self: start;
  flex-basis: auto;
}
