body {
  margin: 0;
}

@font-face {
  font-family: 'Tungsten';
  src: url('../../assets/TungstenFont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.signup-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  z-index: 1;
  font-family: "Arial", sans-serif;
  height: 100vh;
  background-color: #0f1923;
}

.trapezium-red {
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: #FF4655; /* Use the red color */
  clip-path: polygon(0 0, 54% 0, 100% 80%, 42% 80%);
  z-index: 1;
}

.logo-container{
  display: flex;
  justify-content: end;
  margin-bottom: 500px;
  margin-left: 90px;
}

.image-section {
  position: relative;
  width: 50%;
}

.character-image {
  width: auto;
  height: 90vh;
  margin-top: 50px;
}

.form-section {
  width: 800px;
  background-color: #e6e6e6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: 10%;
}

.signup-text {
  text-align: center;
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Tungsten' ,sans-serif;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-field {
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  height: 45px;
  background-color: #ff4655;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

.signup-button:hover {
  background-color: #e8454d;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #333;
}

.login-text a {
  color: #007bff;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
